/*---------------------------------- 
Common Style  
--------------------*/
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------
 header style 
 -----------------*/
 header{
     /* width: 100vw; */
     background-color: #2D25A0;
 }
 .header-parent{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding:6em 4em;
  
 }
 .header-detail{
     width: 485px;
 }
 .header-detail h1{
    width: 485px;
    font-size: 64px;
    line-height: 80px;
    color: white;
    font-weight: 700;
    margin-bottom: 27px;
}
.button{
    width: 118px;
    padding: 10px 25px;
    background-color: #E02C6D;
} 
.button a{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
 
}

 .header-image {
     width: 556.01px;
     height: 438px;
     text-align: center; 
 }
 .header-image img{
     width: 388px;
     height: 428px;
     transition: transform 0.2s linear; 
 }
 .header-image img:hover{
    transform: scale(1.2);
}


 /*-------------------------
  players section styles---------------
  ---------------- */
  .players{
      margin-top:70px;
      width: 1050px;
  }
  .grid-container{
      display: grid;
      grid-template-columns: repeat(3,330px);
      grid-template-rows: repeat(4,474px);
      grid-column-gap: 30px;
      grid-row-gap: 27px;
      
  }
 .single-player{
     padding: 15px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-radius: 5px;
 }
 .single-player-image{
     width: 100%;
 }
 .single-player-image img{
     width:100%;
     border-radius: 2px;
 }
 .player-detail{
    margin-top:16px;
 }
 .player-detail h2{
     font-size: 28px;
     font-weight: 700;
     margin-bottom: 10px;
 }
 .player-detail p{
     font-size: 16px;
     color: #6C6C6C;
     text-align: left;
 }
 /*----------------------- copa america groups style----------------------- */
 .groups{
     width:1050px;
     margin-top:70px;
 }
 .Group-section-title{
     font-size: 40px;
     text-align: center;
     margin-bottom: 40px;
     color:#2D25A0;
 }
 .group-container{
    display: flex;
    justify-content: space-around;
 }
 .group{
     width:40%;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
     padding: 15px;
 }
 .Group-name{
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 20px;
 }
 table{
     width: 100%;
     text-align: center;
     border-collapse: collapse;
 }
 table thead th{
     font-size: 22px;
 }
 table tbody tr td a{
     color:blue;
     text-decoration: none;
     font-weight: bold;
 }
 table, tr ,td ,th{
     border:2px solid grey;
    
}
table>tbody>tr:hover{
    background-color: #2D25A0;
    color: white;
}
table>tbody>tr:hover a{
    color: white;
}
/*------------------------------ 
final match section
--------------------------------  */
.final-match{
    width:1050px;
    margin-top:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.final-match h1{
    margin-bottom: 40px;
    font-size: 30px;
    color:#2D25A0 ;
}
 /*-------------------------------- 
 ---------------------footer styles---------------
  --------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    margin-top:70px;
    padding:70px 0px;
}   
.footer-container{
    width: 484px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-image img{
    width: 100%;
}
.footer-icons{
    width:170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.footer-icons i{
    color: grey;
    background-color: lightgray;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
}
.footer-copyright{
    font-size: 18px;
}

/*------------------------------- 
media queries
-------------------- */
@media only screen and (max-width:600px) {

/* -----------header section media queries -------------*/
header{
    width:100vw;
}
.header-parent{
   flex-direction: column;
   padding:2em 3em;
}
.header-detail{
    width: 278px;
    margin-bottom: 50px;
}
.header-detail h1{
    width: 278px;
    font-size: 36px;
    line-height: 50px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.header-image {
    width:330px;
    height: 260px;
    text-align: center; 
}
.header-image img{
    width:100%;
    height:100% ;
}
/*----------------------- players section ------------------- */
.players{
    margin-top:47px;
    width: 100vw;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1,330px);
    grid-template-rows: repeat(12,474px);
    grid-column-gap: 0px;
    grid-row-gap: 24px;
    
}
/* --------------------Groups queries----------------------- */
.groups{
    width:100vw;
    margin-top:47px;
}
.Group-section-title{
    font-size: 22px;
    margin-bottom: 25px;
}
.group-container{
    flex-direction: column;
}
.group{
    width: 90%;
}
/* --------------------------------final match----------------------------------------------------- */
.final-match{
    width:100vw;
    margin-top:40px;
}
.final-match h1{
    margin-bottom: 25px;
    font-size: 22px;
}
.match-highlights iframe{
    width:300px;
    height: 300px;
}
/* -------------------------------footer queries--------------------------------------------------- */
footer{
    width:100vw;
}
.footer-container{
    width: 237px;
}

}